.book-steps {
  background-color: lightgrey;
  height: 60px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 16px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.book-steps .circle {
  height: 24px;
  width: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.book-steps label {
  text-transform: uppercase;
  font-size: 14px;
}

.book-steps .not-active {
  opacity: 0.4;
}
