#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media only screen and (min-width: 600px) {
  #root {
    padding: 2rem;
  }
}

.page {
  max-width: 800px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.m-auto {
  margin: auto;
}

.ml-5 {
  margin-left: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-24 {
  margin-right: 24px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.font-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}
