.hero-image {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .hero-image {
    height: 400px;
  }
}

.landing .title {
  text-transform: uppercase;
  text-align: center;
}

.search-bar {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
}

.search-bar > .input {
  display: flex;
  width: 49.8%;
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}

.search-bar > .date-picker {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

.divider {
  width: 0.4%;
  height: 100%;
}

.search-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-btn {
  height: 40px;
  background-color: black;
  border: none;
  color: white;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
}
