.room {
  background-color: #f6f5f5;
  border: 1px solid lightgrey;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .room {
    height: 240px;
  }
}

.room .details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .room .details {
    flex-direction: row;
    width: auto;
  }
}

@media only screen and (min-width: 600px) {
  .room .details .photo {
    width: 300px;
  }
}

.room .price {
  background-color: #cdcdcd;
}

@media only screen and (min-width: 600px) {
  .room .price {
    min-width: 180px;
  }
}

.room .price .long-stay {
  font-size: 13px;
}

.room .price .book-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
